.build-ingredients-container {
    margin: 20px 15%;
    padding: 10px 5%;
}
.ing-img-col,
.ing-add-col {
    width: 25%;
    text-align: left;
    padding-left: 5%;
}
.ing-details-col {
    width: 30%;
}
.cost-container {
    color: indigo;
}
