.our-story-container,
.ingredients-container,
.our-chef-container,
.fast-delivery-container {
    margin: 10px 30px;
}

.ingredients-container,
.our-chef-container,
.fast-delivery-container {
    display: flex;
}
.ingredients-text,
.our-chef-text,
.fast-delivery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-img {
    width: 450px;
    height: 350px;
}
