@import '../../variable.scss';

.login-container {

    margin: 5rem 10rem;
    display: flex;
    justify-content: center;

    & .login-form-container {
        background-color: $color-accent-secondary;
        padding: 2rem;

        & .login-form {
            padding: 1rem 0;
            width: 100%;
            display: block;

            & input {
                margin: 1rem 0 0;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: none;
                outline: none;
            }

            & input[type=submit] {
                width: fit-content;
                margin-top: 2rem;
                padding: 0.3rem 1rem;
                border: none;
                border-radius: 0.3rem;
                outline: none;
                background-color: $color-accent-tertiary;
                color: $color-text-inverted;
            }
        }
    }
}