// font variables
$font-heading: 'Rubik', sans-serif;
$font-body: 'Karla', sans-serif;

// color variables(background)
$color-background: #FFFFFF;
$color-foreground: #000000;
// color variables(text)
$color-text: #000000;
$color-text-inverted: #FFFFFF;
// color variables(accent)
$color-accent-primary: #B6E2A1;
$color-accent-secondary: #FFFBC1;
$color-accent-tertiary: #F7A4A4;
// color variables(others)
$color-grey-shade: #D8D8D8;